<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <!-- Spinner de carga. -->
  <p *ngIf="isLoading" class="text-center text-lg">Cargando...</p>
  <!-- Iterando en los personajes. -->
  <div
    *ngFor="let character of personajes"
    class="bg-white shadow rounded-lg p-3 cursor-pointer hover:shadow-lg transition-all"
  >
    <a [routerLink]="['/characters', character.id]">
      <img
        class="animate__animated animate__fadeIn"
        src="{{ character.image }}"
        alt="{{ character.name }}"
      />
      <div class="flex justify-evenly mt-1">
        <p>#{{ character.id }}</p>
        <p>{{ character.name }}</p>
      </div>
    </a>
  </div>
</div>
